<div class= "container">
<h2> Create your cocktail </h2>
<div class="form">
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, class:"text" %>
  <%= f.input :photo, as: :file %>
  <hr>
  <%= f.submit class:"button" %>
  <% end %>
  <hr>
  <%= link_to "Back to the list", cocktails_path %>
</div>