
<div class="form">
<h4> Create your cocktail </h4>
<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, class:"text" %>
  <%= f.input :photo, as: :file %>
  <hr>
  <%= f.submit class:"button" %>
  <% end %>
  <hr>
  <%= link_to "Back to the list", cocktails_path %>
