
<h2><%= @cocktail.name %></h2>
<div class="container mt-5 mb-5">
  <div class="list-group">
    <ul>
      <div class="picture">
        <% if @cocktail.photo.attached?%>
          <%= cl_image_tag @cocktail.photo.key, height: 500, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="info">
      <h4> To make this cocktail you will need: </h4>
        <% @cocktail.doses.each do |dose| %>
          <%=dose.description %>
          <%=dose.ingredient.name %>
          <%= link_to 'Delete ' , dose_path(dose), method: :delete, class:"btn btn-light"%>
        <% end %>
        <div class="add mt-5 mb-3 ">
          <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class:"button" %>
        </div>
      </div>
    </ul>
        <%= link_to "Back to the list", cocktails_path %>
  </div>
</div>