<div class="container mt-5 mb-5">
    <h4>Add a dose to <%= @cocktail.name %></h4>
    <hr>
    <div>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
        <%= f.submit %>
      <% end %>
      <hr>
    </div>

    <%= link_to "Back to the list", cocktails_path %>
</div>